In [1]:
import sqlite3

In [30]:
conn = sqlite3.connect("/Users/jeanflores/Desktop/courses/datapath/data_engineering_with_python/test.db")

In [31]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

conn.commit()

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [4]:
cursor = conn.execute("select * from COMPANY")

In [5]:
cursor

In [32]:
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    # print("AGE = ", row[2])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3])

ProgrammingError: Cannot operate on a closed database.

In [33]:
import pandas as pd

In [34]:
df = pd.read_sql("Select * from COMPANY", con=conn)

In [35]:
conn.close()

In [13]:
%pip install mysql-connector

Requirement already satisfied: mysql-connector in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="datapath"
)

In [41]:
mycursor = mydb.cursor(buffered=True)

In [45]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [46]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s);"
val = ("Kremin", "Highway 30")
mycursor.execute(sql, val)

mydb.commit()

In [47]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Kremin', 'Highway 30')
('Kremin', 'Highway 30')

In [48]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import psycopg2

conn = psycopg2.connect(database="test", user="postgres", password="password", host="localhost",)

cur = conn.cursor()
cur.execute('''
    CREATE TABLE COMPANY2(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE  INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL
    );
''')
print("Table created successfully")
conn.commit()

Table created successfully

In [55]:
import psycopg2

conn = psycopg2.connect(database="test", user="postgres", password="password", host="localhost",)

cur = conn.cursor()

cur.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

cur.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

cur.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

cur.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

conn.commit()